<!DOCTYPE html>
<html lang="zh-tw">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

    <title>人事行政總處事求人(開放資料版)</title>

	{% load staticfiles %}

    <!-- Bootstrap core CSS -->
	<!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="{% static 'opencpa/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'opencpa/css/my.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
   
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src={% static 'opencpa/scripts/ie10-viewport-bug-workaround.js' %}></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

	{% block head-scripts %}{% endblock %}
  
  <body screen_capture_injected="true">

    <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">人事行政總處事求人(開放資料版)</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% block navbar %}{% endblock %}
			  <li><a href="./about">關於</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% block navbar-right %}{% endblock %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <div>
		{% block content %}{% endblock %}
      </div>

	  <footer>
	  	<hr />
	  	<p style="text-align: center;">© 2014 <a href="http://castman.net" target="_blank">castman</a></p>
	  </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src={% static 'opencpa/scripts/jquery.min.js' %}></script>
	<script src={% static 'opencpa/scripts/bootstrap.min.js' %}></script>
	{% block scripts %}{% endblock %}

</body></html>
