{% extends "job/layout.html" %}
{% load staticfiles %}


{% block head-scripts %}
<script>
	var jobdata = {{ jobdata | safe }}
	var historydata = {{ historydata | safe }}
	var placedata = {{ placedata | safe }}
	{% if isExpired %}
		var isExpired = true;
	{% else %}
		var isExpired = false;
	{% endif %}
</script>
{% endblock%}


{% block navbar %}
	<li><a href="./{{job_id}}">單筆職缺資料</a></li>
{% endblock %}


{% block content %}
	<div id="item"></div>
	<!-- msgDelModal -->
	<div class="modal fade" id="msgDelModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog"><div class="modal-content">
		<div class="modal-body">
			<p>
			<span>輸入密碼以刪除留言&nbsp;
			<input type="password" id="msgDelPwd" maxlength="20">&nbsp;
			<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>&nbsp;
			<button type="button" class="btn btn-primary btn-sm" id="btn-msgDelModal">刪除</button>&nbsp;
			<span id="alertDelPwd" style="color: red">密碼錯誤</span>
			<input type="hidden" id="hidden-msgDelModal" value="">
			</span>
			</p>
		</div>
	</div></div></div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'job/scripts/item.js' %}"></script>
{% endblock %}
