{% extends "job/layout.html" %}

{% load staticfiles %}

{% block head-styles %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
{% endblock %}


{% block navbar %}
<li><a href="{% url 'job:trend' %}">{{title}}</a></li>
{% endblock %}

{% block navbar-right %}
    <li><a>資料日期：{{start_date | default:"2015/04/17"}} - {{to_date}}</a></li>
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-md-6">
  	<h4 style="text-align: center; font-weight: bold;">行政類</h4>
	<table id="adminTable" class="display compact" width="100%"></table>
  </div>
  <div class="col-md-6">
  	<h4 style="text-align: center; font-weight: bold;">技術類</h4>
	<table id="techTable" class="display compact" width="100%"></table>
  </div>
</div>

{% endblock%}

{% block scripts %}
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8">
	var dataSet = {{admin_list|safe}}
	$(document).ready(function() {
	    $('#adminTable').DataTable( {
			data: dataSet,
			order: [[ 1, "desc" ]],
			columns: [
				{ title: "職系" },
				{ title: "開缺數" },
			],
			language: {
		    	"search": "搜尋職系:",
				"searchPlaceholder": "例: 圖書"
			}
		} );
	} );
	var dataSet2 = {{tech_list|safe}}
	$(document).ready(function() {
	    $('#techTable').DataTable( {
			data: dataSet2,
			order: [[ 1, "desc" ]],
			columns: [
				{ title: "職系" },
				{ title: "開缺數" },
			],
			language: {
		    	"search": "搜尋職系:",
				"searchPlaceholder": "例: 電子"
			}
		} );
	} );
	</script>
{% endblock %}

