body {
	background-image:url('../imgs/sandpaper.png');
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
		margin-bottom: 20px;
}

.panel-heading-cursor { cursor: pointer;}

div.headinfo { visibility: hidden;}

div.about { display: none;}

#filter-name, #count, #area { font-weight:bold;}

#loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {text-align:center;}

span.newjob {color: gold;}
span.expiringjob {color: silver;}

div.header a:link { color: #285e8e;}
div.header a:visited { color: #285e8e;}
div.header a:hover { color: #3276b1; }
div.header a:active { color: #285e8e; }
div.header a { text-decoration: none;}
